{% extends "base.html" %}
{% load static %}
{% block title %}
    Newsletter
{% endblock %}
{% block content %}
    <div class="container-fluid pt-5">
        <img class="img-fluid" src="{% static 'img/users/home_4.jpg' %}" alt="INSIDER">
        <br>
        <div class="text-center">
            <h1 class="w3-xxlarge w3-text-white w3-wide">
                <span class="w3-hide-small w3-text-light-grey">Welcome to <b>Health Pass Working Group INSIDER</b></span>
            </h1>
        </div>
    </div>

  <h1>Server List</h1>
  {% if server_list %}
  <ul>
    {% for server in server_list %}
      <li>
        <a href="{{ server.name }}">{{ server.name }}</a> ({{server.ip_address}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no servers in the DIYHA.</p>
  {% endif %} 
{% endblock %}