{% extends "base.html" %}
{% load static %}
{% block title %}
    Welcome
{% endblock %}
{% block content %}
    <div class="container-fluid pt-5">
        <img style="max-width: 100%; height: auto" src="{% static 'img/landing.png' %}" alt="INSIDER">
        <br>
        <div class="container-fluid text-center">
            <h1 class="w3-xxlarge w3-text-white w3-wide">
                <span class="w3-hide-small w3-text-light-grey">Welcome to <b>Health Pass Working Group INSIDER</b></span>
            </h1>
        </div>
    </div>
    <!-- Welcome -->
    <script>
        <!--
        Hide
        Script

        function move_in(img_name, img_src) {
            document[img_name].src = img_src;
        }

        function move_out(img_name, img_src) {
            document[img_name].src = img_src;
        }

        //End Hide Script-->
    </script>
    <!-- Projects -->
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Navigation</th>
            <th scope="col">Application</th>
            <th scope="col">Login</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Dashboard</td>
            <td>Volumes and posted content</td>
            <td style="color: crimson">Required</td>
        </tr>
        <tr>
            <td>INSIDER</td>
            <td>The current issue of the Health Pass INSIDER newsletter</td>
            <td>Not Required</td>
        </tr>
        <tr>
            <td>Research</td>
            <td>User interface to create or update newsletters</td>
            <td style="color: crimson">Required</td>
        </tr>
        </tbody>
    </table>


{% endblock content %}